__pycache__/
.tmp_dagster_*/
.venv/
.vscode/

*.duckdb*
*.xls
*.xlsx

target/
dbt_packages/
logs/
.user.yml
# LaTeX
*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.out
*.url
*.svn
*.toc
*.fdb_latexmk
*.fls
monografia/*.pdf
monografia/*.gz